/* CSS Document */
.mytable thead th{
	text-align: center;
	height: 30px;
	line-height: 30px;
	background-color: #3E7EAE;
	color: #FFF;
	border-bottom: 1px solid #999;
}

.mytable tbody td{
	text-align: center;
	height: 28px;
	line-height: 28px;
	background-color: #F0F0F0;
	border-bottom: 1px solid #999;
}
.mytitle{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	padding-left: 55px;
	font-weight: bold;
	border-bottom: 1px solid #666;
	margin: 5px;
}
.page{
	margin-top: 10px;
	height: 30px;
	text-align: center;
}
.page .cur{
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}
.mybutton{
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background: url(../img/btn_bg.png) repeat-x;
	border: 1px solid #BFBFBF;
	color: #000;
}
.sysinfo{
	font-size: 14px;
	font-style: italic;
	color: #333;
}



