.rtf{height:100px;}
.rtf p{font-family:ו;font-size:18px;font-weight:bold;font-style:normal;text-decoration:none;color:#417EB7;padding:40px;margin:20px 0 0 30px;}
.u1_line{background:url("../img/u1_line.png");margin-left:50px;	height:5px;	margin-top:-17px;width:630px;}
.selTittle{padding:5px 50px;position:relative;font-size:14px;color:#727272;font-weight:bold;line-height:30px;}
.tabStatis{text-align:center;color:#FF4200;font-size:14px;font-weight:bold;line-height:24px;}
.mytable{text-align:center;}
#cpu, #memory{height: 30px;background-color:#333333;width:80%;margin-left:10%;margin-top:20px;position:relative;}
#state, #thread{font-size:14px;margin-left:10%;margin-top:20px;}
.rate{height: 30px;background-color: #417EB7;}
.rateValue{position: absolute;left: 0;top: 0;width: 100%;text-align: center;font-size: 14px;line-height:30px;color:#FFF;font-weight:bold;}
#serverList{margin-left:40px;}
#serverList li{font-family:ו; font-weight:bold; margin-left:0; margin-top:10px;padding:5px;font-size:14px; text-align:center;}
#serverList li a{text-decoration:none; font-size:14px;}